<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../static/style/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="app">
    <div class="background"></div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">在线智能文本校对平台</a>
            </div>
            <div class="collapse navbar-collapse navbar-right">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <label for="spellService" class="control-label">拼写纠错服务</label>
                        <input id="spellService" v-model="serviceType" type="radio" name="service" class="form-control radio-service" checked value="0">
                        <label for="repeatService" class="control-label">字词去重服务</label>
                        <input id="repeatService" v-model="serviceType" type="radio" name="service" class="form-control radio-service" value="1">
                        <label for="allService" class="control-label">全部服务</label>
                        <input id="allService" v-model="serviceType" type="radio" name="service" class="form-control radio-service" value="2">
                    </div>
                    <button @click="query" type="button" class="ml-20 btn btn-default">提交</button>
                </form>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="main-container">
        <div class="panel panel-text">
            <div class="panel-heading">
                <h3 class="h3">输入文本</h3>
                <hr/>
            </div>
            <div class="panel-body">
                <textarea id="inputArea" v-model="document" class="input-area form-control" placeholder="请在此输入文字"></textarea>
            </div>
        </div>
        <div class="panel panel-result">
            <div class="panel-heading">
                <h3 class="h3">校对结果</h3>
                <hr/>
            </div>
            <div class="panel-body">
                <ul @click="judge" id="answerList" class="list-group answer-list">
                    <li class="list-group-item answer-item" v-for="answerItem in answerList">
                        <div class="answer-info-group">
                            <span class="label label-info mr-5" v-if="answerItem.type==0">拼写纠错</span>
                            <span class="label label-warning mr-5" v-else>字词去重</span>
                            <span class="font-red" v-text="answerItem.source"></span>
                            <i class="glyphicon glyphicon-arrow-right"></i>
                            <span v-text="answerItem.answer"></span>
                        </div>
                        <div class="answer-choice-group">
                            <div class="btn btn-success" :data-id="answerItem.id" :data-type="1">
                                <i class="glyphicon glyphicon-ok"></i>
                                <span class="ml-5">接受</span>
                            </div>
                            <div class="btn btn-danger" :data-id="answerItem.id" :data-type="0">
                                <i class="glyphicon glyphicon-remove"></i>
                                <span class="ml-5">拒绝</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../static/script/jquery.min.js"></script>
<script src="../static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="../static/script/vue.js"></script>
<script>
    $(document).ready(function () {
        const windowHeight = $(window).height();

        $(".panel").css("height", windowHeight - 100);
        $("#inputArea").css("height", windowHeight - 240);
        $("#answerList").css("height", windowHeight - 240);
    });
    $(window).resize(function () {
        const windowHeight = $(window).height();

        $(".panel").css("height", windowHeight - 100);
        $("#inputArea").css("height", windowHeight - 240);
        $("#answerList").css("height", windowHeight - 240);
    });

    new Vue({
        el: "#app",
        data: {
            serviceType: 0,
            document: "我准备去程度旅游。\n今天的天好篮\n他没有考虑考虑清楚就开始动手做事了。",
            answerList: [
                {id: "1", start: 0, end: 3, answer: "成都", source: "程度", type: 0},
                {id: "2", start: 0, end: 3, answer: "篮", source: "蓝", type: 0},
                {id: "3", start: 0, end: 3, answer: "考虑", source: "考虑考虑", type: 1},
                {id: "1", start: 0, end: 3, answer: "成都", source: "程度", type: 0},
                {id: "2", start: 0, end: 3, answer: "篮", source: "蓝", type: 0},
                {id: "3", start: 0, end: 3, answer: "考虑", source: "考虑考虑", type: 1}
            ]
        },
        methods: {
            query () {
                $.ajax({
                    method: "get",
                    url: "/check/service/get",
                    data: {
                        type: this.serviceType,
                        document: this.document
                    },
                    success (resp) {
                        console.log(resp);
                    }
                })
            },
            judge (event) {
                let target = event.target;

                if (target.tagName === "SPAN" || target.tagName == "I") {
                    target = target.parentNode;
                }
                const id = target.dataset.id,
                    type = target.dataset.type;

                console.log(id, type);
                if (id !== undefined && type !== undefined) {
                    $.ajax({
                        method: "post",
                        url: "/check/service/judge",
                        data: {
                            id: id,
                            type: type
                        },
                        success (resp) {

                        },
                        fail () {

                        }
                    })
                }
            }
        }
    })
</script>
</html>