<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>智能文本校对后台管理系统</title>
    <link href="../static/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../static/style/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="app" class="admin">
    <div class="background"></div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">智能文本校对后台管理系统</a>
            </div>
            <div class="collapse navbar-collapse navbar-right">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <label class="control-label">陈煦</label>
                        <label class="control-label">管理员</label>
                    </div>
                </form>
            </div>
        </div>
    </nav>
    <div class="main-container">
        <div class="sidebar">
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="h4">数据管理</h4>
                    <hr/>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <i class="glyphicon glyphicon-list-alt"></i>
                        <span class="ml-5">数据查看</span>
                    </li>
                    <li class="list-group-item">
                        <i class="glyphicon glyphicon-hdd"></i>
                        <span class="ml-5">数据分析</span>
                    </li>
                </ul>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="h4">平台管理</h4>
                    <hr/>
                </div>
            </div>
        </div>
        <div class="panel panel-main">
            <div v-if="panelType==0">
                <div class="panel-heading">
                    <h3 class="h3" v-text="panelName"></h3>
                    <hr/>
                </div>
                <div class="panel-body">
                    <div class="query-block">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="queryDateStart" class="control-label">起始日期</label>
                                <input id="queryDateStart" v-model="queryParam.dateStart" type="date" class="form-control ml-5">
                            </div>
                            <div class="form-group ml-20">
                                <label for="queryDateEnd" class="control-label">结束日期</label>
                                <input id="queryDateEnd" v-model="queryParam.dateEnd" type="date" class="form-control ml-5">
                            </div>
                            <div class="form-group ml-20">
                                <label for="queryType" class="control-label">服务类型</label>
                                <select id="queryType" class="form-control ml-5" v-model="queryParam.type">
                                    <option value="2">全部</option>
                                    <option value="0">拼写纠错服务</option>
                                    <option value="1">字词去重服务</option>
                                </select>
                            </div>
                            <div class="form-group right">
                                <div @click="query" class="btn btn-default">提交</div>
                            </div>
                        </form>
                    </div>
                    <table class="table table-bordered">
                        <tr>
                            <th>输入文本</th>
                            <th>起始位置</th>
                            <th>结束位置</th>
                            <th>服务日期</th>
                            <th>服务类型</th>
                        </tr>
                        <tr v-for="item in dataList">
                            <td v-text="item.document"></td>
                            <td v-text="item.start"></td>
                            <td v-text="item.end"></td>
                            <td v-text="item.date"></td>
                            <td>
                                <span v-if="item.type==0">拼写纠错服务</span>
                                <span v-else>字词去重服务</span>
                            </td>
                        </tr>
                    </table>
                    <div class="pagination" v-show="queryParam.isQuery">
                        <form class="form-inline right">
                            <div class="form-group">
                                <label for="page" class="control-label">页码</label>
                                <input id="page" type="text" class="form-control ml-5" v-model="page.number"> / <span v-text="page.total"></span>
                            </div>
                            <div class="form-group ml-20">
                                <div @click="query" class="btn btn-default">跳页</div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../static/script/jquery.min.js"></script>
<script src="../static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="../static/script/vue.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            panelType: 0,
            panelName: "数据查看",
            queryParam: {
                dateStart: "",
                dateEnd: "",
                type: 2,
                limit: 10,
                isQuery: false
            },
            page: {
                number: 1,
                total: 20
            },
            dataList: []
        },
        methods: {
            query() {
                let _this = this;

                $.ajax({
                    method: "get",
                    url: "/manager/data/get",
                    data: {
                        dateStart: this.queryParam.dateStart,
                        dateEnd: this.queryParam.dateEnd,
                        type: this.queryParam.type,
                        start: this.page.number,
                        limit: this.queryParam.limit
                    },
                    success(resp) {
                        if (resp.code === 1) {
                            let respData = resp.data;
                            for (let i = 0, len = respData.data.length; i < len; i++) {
                                respData.data[i].document = _this.ellipsis(respData.data[i].document);
                            }
                            _this.dataList = respData.data;
                            _this.page.total = Math.ceil(respData.count / _this.queryParam.limit);
                            _this.queryParam.isQuery = true;
                        }

                    }
                })
            },
            ellipsis (value) {
                if (!value) return ''
                if (value.length > 32) {
                    return value.slice(0, 32) + '...'
                }
                return value
            },
            judge(event) {
                let target = event.target;

                if (target.tagName === "SPAN" || target.tagName == "I") {
                    target = target.parentNode;
                }
                const id = target.dataset.id,
                    type = target.dataset.type;

                console.log(id, type);
                if (id !== undefined && type !== undefined) {
                    $.ajax({
                        method: "post",
                        url: "/check/service/judge",
                        data: {
                            id: id,
                            type: type
                        },
                        success(resp) {

                        },
                        fail() {

                        }
                    })
                }
            }
        }
    })
</script>
</html>